body {
    width: 90%;
    margin: auto;
}
img, figure {
    width: 95%;
}
table, th, td {
    border: 1px solid black;
    border-right: 0px solid white;
    border-left: 0px solid white;
    padding: 10px;
    border-collapse: collapse;
}
th {
    font-family: 'Puritan', sans-serif;
    background-color: rgba(3, 1, 1, 0.568);
    color: white;
  }
tr:nth-child(even) {background-color: #f2f2f2;}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Josefin Sans', sans-serif;
}

p, td {
    font-family: 'Noto Sans', sans-serif;
}
